<?php
//start buffering
ob_start();
?>

<!DOCTYPE HTML>
<HTML>
<HEAD>
    <TITLE>Ilaris Unbound</TITLE>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/zenGardenTemplate.css">

    <style>

    </style>

</HEAD>
<BODY>
<div id="main">
    <img id="headerImg" src="/images/uc-personal-web-page-banner.jpg" alt="UC Personal Web Page Banner" width=540 height=75 border=0><br>
    <nav>
        <ul class="navigation">
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="http://homepages.uc.edu/~tellepet/">Home</a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="http://homepages.uc.edu/~tellepet/PHPAssignmentsPage.php">PHP Assignments</a>
                    <!--<div class="dropdown-content" id="php">-->
                        <!--<?php include '/Volumes/UCFSsan31/Users/t/tellepet/Sites/php/populateAssignmentsDropdown.php';?>-->
                    <!--</div>-->
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="#">Shop</a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="#">Rules</a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="#">Lore</a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="#">Forum</a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="#">Map</a>
                </div>
            </li>
            <!--<li>
                <div class="dropdown">
                    <a class="dropbtn" href="PHPAssignmentsPage.php">JS Assignments</a>
                    <div class="dropdown-content" id="js">

                    </div>
                </div>
            </li>-->
        </ul>
    </nav>
    <br>
    <div class="content">
